h1{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  
form{
    text-align: center;
    font-size: 25px;
}



